<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.base.member.memberDAO">
  
  	<select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
  		SELECT M.USERNAME, M.PASSWORD, M.EMAIL, M.NAME, M.ENABLED, R.NUM, R.ROLENAME 
  		FROM MEMBER M
			INNER JOIN
			MEMBER_ROLE MR
			ON M.USERNAME=MR.USERNAME
			INNER JOIN
			ROLE R
			ON MR.NUM = R.NUM
		WHERE M.USERNAME = #{username}
  	</select>
  	<resultMap type="MemberVO" id="getLoginResult">
  		<id column="USERNAME" property="username"/>
  		<result column="PASSWORD" property="password"/>
  		<result column="EMAIL" property="email"/>
  		<result column="NAME" property="name"/>
  		<result column="ENABLED" property="enabled"/>
  		<collection property="roleVOs" javaType="List" ofType="RoleVO">
  			<id column="NUM" property="num"/>
  			<result column="ROLENAME" property="roleName"/>
  		</collection>
  	</resultMap>
  	
  	<select id="getFindPassword" parameterType="MemberVO" resultType="MemberVO">
  		SELECT USERNAME, EMAIL FROM MEMBER
  		WHERE USERNAME = #{username} AND EMAIL = #{email}
  	</select>
  	
  	<update id="setPasswordUpdate" parameterType="MemberVO">
  		UPDATE MEMBER SET PASSWORD = #{password} WHERE USERNAME = #{username}
  	</update>
  	
  	<update id="setLastTimeUpdate" parameterType="MemberVO">
  		UPDATE MEMBER SET LASTTIME = now() WHERE USERNAME = #{userName}
  	</update>
  	
  	<insert id="setJoin" parameterType="MemberVO">
  		INSERT INTO MEMBER (USERNAME, PASSWORD, NAME, EMAIL, BIRTH, ENABLED, LASTTIME)
  		VALUES (#{username}, #{password}, #{name}, #{email}, #{birth}, 1, now())
  	</insert>
  	
  	<insert id="setMemberRole" parameterType="Map">
  		INSERT INTO MEMBER_ROLE (USERNAME, NUM)
  		VALUES (#{username}, #{num})
  	</insert>
  	
  	<!-- <select id="getRoleNum" parameterType="RoleVO" resultType="Integer">
  		SELECT NUM FROM ROLE
  		WHERE ROLENAME = #{roleName}
  	</select>
  	
  	<insert id="setMemberRoleJoin" parameterType="Member_RoleVO">
  		INSERT INTO MEMBER_ROLE
  		VALUES (#{userName}, #{num})
  	</insert> -->
  	
  	<select id="idDuplicateCheck" parameterType="MemberVO" resultType="MemberVO">
  		SELECT USERNAME FROM MEMBER
  		WHERE USERNAME=#{username}
  	</select>
  	
  	<select id="getList" resultType="MemberVO">
  		SELECT * FROM MEMBER
  	</select>
  	
  	<update id="setEnabled">
  	<![CDATA[
  		UPDATE MEMBER SET ENABLED=0
  		WHERE LASTTIME <= now() - INTERVAL 3 day
  	]]>	
  	</update>
  	
  	<!-- <select id="getLastTime" parameterType="MemberVO" resultType="Integer">
  		SELECT TIMESTAMPDIFF(day, LASTTIME, NOW()) FROM MEMBER WHERE USERNAME=#{username}
  	</select>
  	
  	<update id="setEnabledUpdate" parameterType="MemberVO">
  		UPDATE MEMBER SET ENABLED = 0
  		WHERE USERNAME = #{username}
  	</update> -->
  	
  	<select id="getBirth" resultType="MemberVO">
  		SELECT USERNAME, EMAIL FROM MEMBER
		WHERE DATE_FORMAT(BIRTH,'%m-%d')=DATE_FORMAT(NOW(), '%m-%d')
  	</select>
  	
  	<!-- <insert id="setBirthUser">
  		INSERT INTO NOTICE(NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		VALUES(0, '생일축하합니다',CONCAT(
			(SELECT GROUP_CONCAT(NAME SEPARATOR',') FROM MEMBER WHERE DATE_FORMAT(BIRTH,'%m-%d')=DATE_FORMAT(NOW(), '%m-%d')),'님 생일 축하합니다'
			), 
		'ADMIN', NOW(),0)
  	</insert> -->
  	
  </mapper>